<nav class="navbar js-navbar">
    <ul class="menu">
      <li>
        <a class="hasDropdown" href="/">News <i class="fa fa-angle-down"></i></a>
      </li>
      <li>
        <a class="hasDropdown" href="/map">Audit<i class="fa fa-angle-down"></i></a>
      </li>
      <li>
        <a class="hasDropdown" href="/weather">Registros<i class="fa fa-angle-down"></i></a>
      </li>
    </ul>
  </nav>